header {
    margin: 0%;
    padding: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
}

.headerLogo img {
    width: 100px;
    height: auto;
}

.navbarLinks {
    display: flex;
    font-size: xx-large;
    gap: 10px;
    margin: 0%;
}

.navbarLinks a {
    color: whitesmoke;
}

.navbarLinks a:visited {
    color: whitesmoke;
}

.heroText {
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    margin: 0%;
}

.heroTextText {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 50%;
}

.heroTextText h1 {
    font-size: 48px;
    font-weight: bolder;
}

.heroText a, a:visited {
    color: greenyellow;
}

.heroTextText p {
    font-size: 18px;
    color: #E5E7EB;
}
.heroText img {
    height: auto;
    max-width: 50%;
}

button {
    padding: 10px 15px;
    width: 40%;
}

.section1RightSide {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    object-fit: cover;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 20px;
}

.section2Content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid blue;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
    align-content: center; 
}

.section2Content p {
    max-width: 200px;
    margin: 5px 20px 0px 20px;

}

.testimonial {
    justify-content: center;
    background-color: #E5E7EB;
    padding: 20px;
}

.testimonial p {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}

.signup {
    justify-content: center;
    padding: 50px;
}

.signup p {
    padding: 25px;
    background-color: #3882f6;
    color: white;
}

.signup button {
    padding: 5px;
    margin-left: 60%;
    background-color: #3882f6;
    color: white;
    border: 4px solid white;
    border-radius: 15px;
}

hr {
    border: 10px solid #1F2937;;
}
