header {
    background-color: #1f2937;
    padding: 30px;
    font-size: 24px;
    color: #F9FAF8;
    
}

header .navbar {

}

footer {
    background-color: #1f2937;
    color: #F9FAF8;
    text-align: center;

}